.ui.label.sidekiq-label {
  img {
    display: inline;
    width: 16px !important;
    height: 16px !important;
  }

  div {
    padding-left: 0;
    margin-left: 0;
    vertical-align: middle;
  }
}
