.ui.label.sidekiq-label {
  img {
    display: inline;
    width: 16px !important;
    height: 16px !important;
  }

  div {
    padding-left: 0;
    margin-left: 0;
    vertical-align: middle;
  }
}

.ui.horizontal.divider {
  padding-top: 30px;
  color: #4A5568;
}

.ui.horizontal.divider:before {
  width: 15% !important;
}

.ui.horizontal.divider:after {
  width: 85% !important;
}
